<div class="banner", id="homebanner-margintop", style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%= image_path "1001.jpg" %>)">
    <img src="<%= image_path "Logo.gif" %>" alt="logo GN">
</div>
<div class="past">
  <div class="container">
  <h2>Nos derniers events</h2>
    <div class="cards">
      <div class="card">
        <div>
          <img src="<%= image_path "GNBATEAU.jpg" %>" alt="Affiche GN Petit Bain">
        </div>
        <div class="text">
          <h4>Samedi 11 janvier 2020</h4>
          <p>@Le Petit Bain - Paris   /   <a href="https://www.facebook.com/events/2352007678443482/">event facebook</a></p>
        </div>
      </div>

      <div class="card">
        <div>
          <img src="<%= image_path "GNCROISIERE.jpg" %>" alt="Affiche GN Les Iodés">
        </div>
        <div class="text">
          <h4>Samedi 20 juillet 2019</h4>
          <p>@Canal de L'ourcq - Paris   /   <a href="https://www.facebook.com/events/611988479295431/">event facebook</a></p>
        </div>
      </div>

      <div class="card">
        <div>
          <img src="<%= image_path "GNZIC.jpg" %>" alt="Affiche GN Fête de la zic">
        </div>
        <div class="text">
          <h4>Vendredi 21 juin 2019</h4>
          <p>@Le Métro - Paris   /   <a href="https://www.facebook.com/events/611988479295431/">event facebook</a></p>
        </div>
      </div>

      <div class="card">
        <div>
          <img src="<%= image_path "party1.jpg" %>" alt="Affiche GN Concorde Atlantique">
        </div>
        <div class="text">
          <h4>Vendredi 12 avril 2019</h4>
          <p>@Concorde Atlantique - Paris   /   <a href="https://www.facebook.com/events/611988479295431/">event facebook</a></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="next">
  <div class="container">
  <h2>Nos prochains events</h2>
  <h3>More TBA...</h3>
    </div>
  </div>

<div class="footer">
  <div class="container d-flex">
  <a href="https://www.facebook.com/GuteNachtParty/" target="_blank">
    <i class="fab fa-facebook-square"></i>
  <a href="https://www.youtube.com/channel/UCMeF_15umYqxKc8t6o8jlTQ" target="_blank">
    <i class="fab fa-youtube"></i>
  <a href="https://www.instagram.com/gutenachtparty/?hl=fr" target="_blank">
    <i class="fab fa-instagram"></i>
  </div>
<h2>©Gute Nacht Party 2020 - collectif engagé pour des fêtes de qualités</h1>
</div>

