<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Gute Nacht Party</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag %>
    <meta name="description" content="Bienvenue sur la page Gute Nacht">
    <link rel="shortcut icon" href="data:image/x-icon;" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" type="image/gif" href="../../images/Logo.gif"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <div class="navbar navbar-expand-sm navbar-light navbar-gn">
      <a class="navbar-brand" href="#">
      <img src="<%= image_path "Logo.gif" %>" alt="logo GN">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#section1">Nos prochains events</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#section2">Nos derniers events</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#section3">Mise en bouche</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#section4">Contact</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="fix-footer">
      <%= yield %>
    </div>
  </body>
</html>
